body{
  margin: 0;
  padding: 0;
  font-family: Arial;
  color: whitesmoke !important;
  background-color: #26777a !important;
}

.center{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container_father{
  display: flex ;
  flex-direction: column;
}

#navegador{
  border-radius: 0 !important;
  position: sticky;
  top: 0;
  left: 0;
}

.texto-centrado{
  text-align: center;
  margin-bottom: 30px;
  font-weight: bold;
}

.table{
  margin-bottom: 40px !important;
}

.thead-dark{
  background-color: cadetblue !important;
}

.btn-group{
  z-index: -20 !important;
}

#recuento{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
}

#recuento>p{
  margin: 0 10px 0 10px;
}

#borrado_exito{
  display: none;
}

#container-trash{
  background-color: #ffb2b2;
  border-radius: 50%;
  width:fit-content ;
  padding: 30px;
}

.borrado{
  display: flex !important;
  width: 100%;
  height: 80vh;
  background-color: transparent;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.scale-in-center {
animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) forwards;
}

@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modal{
  color: black;
}